@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #1DA1F3;
    --color-secondary: #1977D1; 
    --color-base: #FFF;
}

body {
    padding: 55px 25px 244px 25px;
}

.close {
    width: 22.059px;
    height: 22px;
    flex-shrink: 0;
}

.submit input{
    width: 321px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 23px;
    background: var(--color-primary);
    color: white;
}

.textfield > label {
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.textfield > input{
    width: 317px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: rgba(255, 255, 255, 0.08);
}

main > h1 {
    padding-top: 22px;
    padding-bottom: 8px;
}

main > p {
    padding-bottom: 11px;
}